<html>
<head>
<title>Meridian Credit Union :: Member Services Terminal</title>
</head>
<frameset cols="188,*" frameborder="1" border="2" framespacing="0">
  <frame src="/app/nav" name="navfrm" scrolling="auto" marginwidth="4" marginheight="4" noresize>
  <frame src="/app/search" name="mainfrm" scrolling="auto" marginwidth="6" marginheight="6">
  <noframes>
    <body>
      <table width="100%" cellpadding="6" cellspacing="0" border="1">
        <tr><td class="f1 c2">This terminal requires a frames-capable browser. Contact Branch Systems Support (ext. 4412).</td></tr>
      </table>
    </body>
  </noframes>
</frameset>
</html>
